.EntryPanel {
  display: flex;
  align-items: center;
  &__main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
  }
  &__head {
    font-weight: bold;
    font-size: 16px;
  }
  &__body {
    margin-top: 10px;
    font-size: 14px;
  }
  &__foot {
    text-align: right;
    margin-top: 10px;
  }
  &__sub {
    flex: 1 1 45%;
    margin-right: 20px;
  }
  &__thumb {
    width: 100%;
    height: auto;
  }
}
