.IndexPage {
  &__foodMenu,
  &__drinkMenu {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__foodMenu {
    background-image: url("#{$image-path}top/menu_food.jpg");
  }
  &__drinkMenu {
    background-image: url("#{$image-path}top/menu_drink.jpg");
  }
}
